# Gradle
.gradle
gradle
gradlew*

# Build
build/
bundles/
src/main/resources/icon*
src/test

# DMG-Creation
jFRDP.html
jFRDP.jnlp
jFRDP-installer.dmg

# Personal connections-File
connections.json
config.json

# IDEA
.idea
